# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Docs build
/docs/_build/

# OS files
.DS_Store

# Local configuration
config.json

# hackrf_sweep build artifacts
hackrf_sweep/sweep_callback.o
hackrf_sweep/_lib.o
hackrf_sweep/_lib.cpython-*.so
